.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 300px;
  width: 350px;
  padding: 20px;
}

.username {
  color: #6366f1;
  font-size: 28px;
}
.user-bio {
  color: #2c364c;
  font-size: 20px;
}
.retry-btn {
  color: #f8fafc;
  font-size: 14px;
  background-color: #4f46e5;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .profile-container {
    width: 290px;
    height: 250px;
  }
}
